.vs/
**/node_modules/
Web/Angular2/node_modules/
Web/Api/bin/
Web/Api/obj/Release/PaJaMa.Recipes.Web.Api.pdb
Web/Api/obj/
Web/Angular/obj/
Web/Angular2/obj/
Web/Angular2/bin/
*.user
Web/Knockout/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Web/Knockout/obj/
Web/Mvc/obj/
Web/Mvc/bin/
Web/DotNetCore/obj/
Crawler/bin/
Model/bin/
Dto/bin/
Crawler/obj/
Rails/obj/
Rails/bin/
Model/obj/
Dto/obj/
Web/Knockout/bin/
Web/Angular2/src/app/**/*.js
*.js.map
